@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
body {
  background-image: linear-gradient(
    115deg,
    rgba(58, 58, 158, 0.8),
    rgba(136, 136, 206, 0.7)
  ),
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-content: center;
  justify-content: center;
}

#survey-form {
  color: #fff;
}
#container form {
  margin: 0 auto;
  width: 540px;
  background-color: rgb(27, 27, 50); 
  opacity: .8;
  border-radius: 3px;
}
#container header {
  color: #fff;
  text-align: center;
}
#container header h1 {
  margin-top: 45px;
  font-weight: 100;
}
#description {
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: large;
}
.content {
  padding: 30px 40px 0px 40px;
}
#name, #email, #age, #role, #recommended, #favorite-feature, #improved, #suggestions{
  font-size: large;
  font-weight: 600;
}
#name-input, #email-input, #age-input, #role-input, #favorite-feature-select{
  width: 450px;
  height: 40px;
  border-radius: 5px;
  color: #76909b;
  font-size: medium;
  font-weight: 100;
  padding-left: 10px;
}
#optional, #check-all {
  font-size: medium;
  font-weight: 100;
}
.check-box, #button-radio {
  font-size: larger;
  font-weight: 200;
  margin: 3px;
}

#text-area {
  padding: 5px;
}
#button {
  padding: 15px 30px 40px 30px;
}
#submit {
  width: 100%;
  height: 100%;
  font-size: medium;
  font-weight: 500;
  color: #fff;
  background-color: #37af65;
  border: 0px;
  padding: 10px;
  text-align: center;
}